.home-default {
	float:left;
	background-color: #ECFFE9;
	color: white;
	border: 5px solid #13A521;
	margin-right: 30px;
	width: 200px;
	height: 155px;
}

#pet-table {
	width: 50%;
}

#td {
	display: flex;
	justify-content: center;
}

#stats {
	width: 200px;
}

#pet-image {
	height: 150px;
}
