@charset "ISO-8859-1";

body {
	margin-left: 100px;
}

/* different board color schemes*/
.b-default {
	float:left;
	background-color: black;
	color: white;
	border: 5px solid #FF39A2;
}

.b-aqua {
	float:left;
	background-color: black;
	color: white;
	border: 5px solid #1A5BFF;
}

.b-jungle {
	float:left;
	background-color: black;
	color: white;
	border: 5px solid #00E206;
}

.b-ice {
	float:left;
	background-color: black;
	color: white;
	border: 5px solid #4BF2FF;
}

.b-fire {
	float:left;
	background-color: black;
	color: white;
	border: 5px solid #FF451C;
}

.sub {
	padding-top: 5px;
}

#buttons {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 30px;
}

#center-btns {
	flex-direction: row;
}



.sprite {
	width: 15px;
	height: 15px;
}