@charset "ISO-8859-1";

main {
	flex-wrap: wrap;
}

#user {
	float:left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	padding-left: 20px;
}

#board {
	position: relative;
}

#testing {
	position: relative;
    float:bottom;
    margin-top: 490px;
}


#game {
	float:left;
	display: flex;
	float:left;
}

.user-btn {
	width: 43px;
	height: 43px;
	border: 2px solid black;
	margin: 2px;
}

.selected-btn {
	width: 45px;
	height: 45px;
	border: 3px solid red;
	margin: 1px;
}

.cell {
	display: flex;
	justify-content: center;
	margin: 0px;
	text-align: center;
	font-size: larger;
	font-weight: bold;
	align-items: center;
    background: #ffffff;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 0px;
}

.square {
	width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 0px;
}


.break {
  flex-basis: 100%;
  height: 0;
}

#c13, #c16, #c23, #c26, #c43, #c46, #c53, #c56, #c73, #c76, #c83, #c86, #c93, #c96 {
	border-right:4px solid black;
}

#c33, #c36, #c63, #c66 {
	border-bottom:4px solid black;
	border-right:4px solid black;
}

#c31, #c32, #c34, #c35, #c37, #c38, #c39, #c61, #c62, #c64, #c65, #c67, #c68, #c69 {
	border-bottom:4px solid black;
}